{% extends "layouts/default.html" %}
{% block title %}Shuffletron{% endblock %}
{% block content %}
<h1>Artists</h1>

{# Loop over every artist, showing a cover #}
<div class="gridwrapper">
{% for artist in artists %}
<div>
<a href="/artists/{{artist|urlencode}}">
  <h2>{{artist}}</h2>
  <table>
  <tr>
    <td>
      <form action="/prepend" method="GET">
	<input type="hidden" name="artist" value="{{artist}}"/>
	<button>Play now</button>
      </form>
    </td>
        <td>
      <form action="/append" method="GET">
	<input type="hidden" name="artist" value="{{artist}}"/>
	<button>Append</button>
      </form>
    </td>
  </tr>
  </table>
  <br>
  <img src="/cover.jpg?artist={{artist|urlencode}}"/>
</a>
</div>
{% endfor %}
</div>
{% endblock %}
