{% extends "layouts/default.html" %}
{% block title %}Shuffletron{% endblock %}
{% block content %}
<meta http-equiv="refresh" content={% if current %}"{{ state.remaining|add:1 }}"{% else %}"60"{% endif %} >

<h1>Now playing</h1>
{% if current %}
<div class="nowplaying">
  <table class="nowplaying">
    <thead>
      <tr>
	<th>Title</th>
	<th>Artist</th>
	<th>Album</th>
	<th>Duration</th>
  <tbody>
    <tr>
      <td>{{ current.id3.title }}</td>
      <td>{{ current.id3.artist }}</td>
      <td>{{ current.id3.album }}</td>
      <td id="timestamp">{{ state.remaining-min }}:{{ state.remaining-sec|format:"~2,'0d"  }} / {{ state.songlength-min }}:{{ state.songlength-sec|format:"~2,'0d" }}</td>
    </tr>
  </tbody>
  </table>
  {% ifnotequal current.cover-path NULL %}
  <img class="nowplaying" src="/cover.jpg?artist={{current.id3.artist|urlencode}}&album={{current.id3.album|urlencode}}"/>
  {% endifnotequal %}
</div>

<!-- This script just updates the time remaining, if JS is off we don't show remaining time at all -->
{% if not state.paused %}
<script>
  var remaining = {{state.remaining}}
  var len_min = {{state.songlength-min}}
  var len_sec = {{state.songlength-sec}}
  var x = function() {
      min = Math.floor(remaining / 60);
      sec = remaining % 60;
      document.getElementById("timestamp").innerHTML = min+":"+String(sec).padStart(2, '0')+" / "+len_min+":"+String(len_sec).padStart(2, '0')
      remaining = remaining - 1;
  }
  x()
  setInterval(x, 1000);
</script>
{% endif %}
{% endif %}

<div class="queue">
  <h1>Queue</h1>
  <table>
    <tr>
      <td>
  <form action="/playlist/shuffle" method="GET">
    <button>Shuffle</button>
  </form>
      </td>
      <td>
	<form action="/playlist/toggle_loop" method="GET">
	  <button>{% if state.looping %}Disable{% else %}Enable{% endif %} looping</button>
	</form>
      </td>
      <td>
	<form action="/playlist/clear" method="GET">
	  <button>Clear queue</button>
	</form>
      </td>
      </tr>
  </table>
<br>
{% if queue %}
<table class="queue">
  <thead>
    <tr>
      <th>Artist</th><th>Album</th><th>Title</th>
    </tr>
  </thead>
  <tbody>
{% for song in queue %}
<tr>
  <td>{{song.id3.artist}}</td><td>{{song.id3.album}}</td><td>{{song.id3.title}}</td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
</div>
{% endblock %}
