{% extends "layouts/default.html" %}
{% block title %}Shuffletron{% endblock %}
{% block content %}
<meta http-equiv="refresh" content={% if current %}"{{ state.remaining|add:1 }}"{% else %}"60"{% endif %} >
<h1>Now playing</h1>
{% if current %}
<div class="nowplaying">
  <table class="nowplaying">
    <thead>
      <tr>
	<th>Title</th>
	<th>Artist</th>
	<th>Album</th>
	<th>Duration</th>
  <tbody>
    <tr>
      <td>{{ current.id3.title }}</td>
      <td>{{ current.id3.artist }}</td>
      <td>{{ current.id3.album }}</td>
      <td><!-- {{ state.remaining-min }}:{{ state.remaining-sec|format:"~2,'0d"  }} /  -->{{ state.songlength-min }}:{{ state.songlength-sec|format:"~2,'0d" }}</td>
    </tr>
  </tbody>
  </table>
  {% ifnotequal current.cover-path NULL %}
  <img class="nowplaying" src="/cover.jpg?artist={{current.id3.artist|urlencode}}&album={{current.id3.album|urlencode}}"/>
  {% endifnotequal %}
</div>
{% endif %}

<div class="queue">
  <h1>Queue</h1>
  <table>
    <tr>
      <td>
  <form action="/playlist/shuffle" method="GET">
    <button>Shuffle</button>
  </form>
      </td>
      <td>
	<form action="/playlist/toggle_loop" method="GET">
	  <button>{% if state.looping %}Disable{% else %}Enable{% endif %} looping</button>
	</form>
      </td>
      <td>
	<form action="/playlist/clear" method="GET">
	  <button>Clear queue</button>
	</form>
      </td>
      </tr>
  </table>
<br>
{% if queue %}
<table class="queue">
  <thead>
    <tr>
      <th>Artist</th><th>Album</th><th>Title</th>
    </tr>
  </thead>
  <tbody>
{% for song in queue %}
<tr>
  <td>{{song.id3.artist}}</td><td>{{song.id3.album}}</td><td>{{song.id3.title}}</td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
</div>
{% endblock %}
